<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="author" content="Aruna Mahajan" />
  <meta name="title" content="ECSE 506: Stochastic Control and Decision Theory" />
  <title>Aruna Mahajan's Poems</title>
  {{ if .Params.tags }}
  <meta content="{{ delimit .Params.tags "," }}" name="keywords" />
  {{ end }}

  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" type="text/css" />

  <script type="module" defer
    src="//instant.page/3.0.0"
    integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1">
  </script>
</head>
<body>
<div id="content">
<div class="title">
  <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }} </a></h1>
</div>

